@import "style";

// MEDIA QUERIES

@media (min-width: 576px) {
    .sidenav {
      display: block;
    }
    main {
      margin-left: 130px;
    }
    footer {
      margin-left: 130px;
    }
    .container {
      padding: 40px 40px;
    }
    #about-me-content-container > h1 { 
      font-size: 50px;
    }
    #about-me-content-container > h2 { 
      font-size: 30px;
    }
    #about-me-content-container > h3 { 
      font-size: 20px;
    }
    #about-me-content-container {
      width: 90%;
    }

  }

@media (max-width: 575px) {
  #about-me-content-container > h1 { 
    font-size: 30px;
  }
  #about-me-content-container > h2 { 
    font-size: 20px;
  }
  #about-me-content-container > h3 { 
    font-size: 15px;
  }
  #about-me-content-container {
    width: 90%;
  }
  h2 {
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .portfolio-row-item {
    width: 45%;
  }
  #portfolio-row-item-one, #portfolio-row-item-three, #portfolio-row-item-five {
    margin-right: 20px;
  }
  #about-me-content-container > h1 { 
    font-size: 60px;
  }
  #about-me-content-container > h2 { 
    font-size: 35px;
  }
  #about-me-content-container > h3 { 
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 80px 40px;
  }
  .scion-column {
    width: 40%;
  }
  #scion-intro {
    margin-right: 20px;
  }
  #form-info {
    width: 30%;
    flex-grow: 1;
    margin-right: 40px;
  }
  #form-container {
    width: 64%;
    flex-grow: 1;
    padding-top: 15px;
  }
  #form-firstname, #form-lastname {
    width: 45.6%;
  }
  #form-firstname { 
    margin-right: 20px;
  }
  #about-me-content-container > h1 { 
    font-size: 60px;
  }
  #about-me-content-container > h2 { 
    font-size: 40px;
  }
  #about-me-content-container > h3 { 
    font-size: 30px;
  }
  h1 {
    font-size: 42px;
  }
}

@media (min-width: 1200px) {
  .scion-column {
    width: 27%;
  }
  #about-netmatters {
    margin-right: 20px;
  }
  .portfolio-row-item {
    width: 29%;
  }
  #portfolio-row-item-two, #portfolio-row-item-four {
    margin-right: 20px;
  }
  #portfolio-row-item-three {
    margin-right: 0px;
  }
  #form-section-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #form-firstname, #form-lastname {
    width: 46.5%;
  }
  #about-me-content-container > h1 { 
    font-size: 70px;
  }
  #about-me-content-container > h2 { 
    font-size: 45px;
  }
  #about-me-content-container > h3 { 
    font-size: 45px;
  }
  #about-me-content-container {
    width: 80%;
  }
  h1 {
    font-size: 50px;
  }

}

@media (min-width: 1600px) {
  #form-section-container {
    width: 1400px;
  }
  #form-firstname, #form-lastname {
    width: 47.3%;
  }
  #about-me-content-container > h1 { 
    font-size:70px;
  }
  #about-me-content-container > h2 { 
    font-size: 50px;
  }
  #about-me-content-container > h3 { 
    font-size: 50px;
  }
  #about-me-content-container {
    width: 75%;
  }
}
  