#coding-examples {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#slides { 
    width: 100%;
}

.slide-content {
    width: 100%;
    background-color: #1a1c26;
    border-radius: 6px;
}

.slide-content > img,  .slide-content > h1, .slide-content > p {
    padding: 0px;
    margin: 10px;
    width: 90%;
}

.slide-content > img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.slide-content > p {
    width: 90%;
}

.slick-dots {
    color: white;
}