.slide-content {
    width: 90%;
    background-color: #1a1c26;
    padding: 20px;
    border-radius: 6px;
}

.slide-content > img {
    width: 90%;
    //margin: 20px;
}

.slide-content > h1 {
    padding: 0px 10px 10px 10px;
}

.slick-dots {
    color: white;
}