// Portfolio 

#portfolio-row {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-row-item {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: #1a1c26;
    margin-bottom: 20px;
    border-radius: 0px 0px 3px 3px;
  
}