// ARROW DOWN

.arrow-down {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  
#about-me-scroll-down {
    position: absolute;
    font-size: 15px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}




// ARROW UP

.arrow-up {
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    align-items: center;
    margin-bottom: 20px;
}
  
#scroll-up {
    text-align: center;
}
  