// SIDENAV

#sidenav-social > a > img {
    display: inline;
    width: 20px;
    padding: 20px 10px;
    filter: invert(27%) sepia(94%) saturate(459%) hue-rotate(86deg) brightness(98%) contrast(93%);
}
  