// SIDENAV

#sidenav-social > a > img {
    display: inline;
    width: 20px;
    padding: 20px 10px;
    filter: invert(27%) sepia(94%) saturate(459%) hue-rotate(86deg) brightness(98%) contrast(93%);
}

#coding-icons-container i, #coding-icons-container img {
    width: 64px;
}
  
.fa-python {
    color: #156615;
}

.fa-square-js {
    color: #93821e;
}

.fa-html5 {
    color: #ac4e06;
}

.fa-css3 {
    color: #6997f4;
}

.fa-cloud-arrow-up {
    color: #0d7190;
}

.fa-react {
    color: #1398a3;
}

.fa-jira {
    color: #0d4aa8;
}

.fa-github  {
    color: black;
}