// SIDENAV

#sidenav-header > a {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 3px $accent;
}
#sidenav-header > a > h1 {
    font-size: 40px;
    color: $accent;
}


#sidenav a {
    display: block;
    font-size: 11px;
    text-align: center;
    padding-bottom: 30px;
    color: $text;
    text-decoration-line: none;
}

#sidenav-social > a {
    display: inline;
    padding: 0px;
}

// PORTFOLIO 

.portfolio-row-item > a {
    font-size: 10px;
    color: $text
}
  
.portfolio-row-item > h4 , .portfolio-row-item > a {
    padding-left: 10px;
}

// ABOUT

#about-treehouse > p > a {
    color: $text;
    overflow-wrap: break-word;
    text-decoration: underline;
}


// FOOTER

footer a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}