#sidenav-options a:hover {
    text-decoration: underline;
    text-decoration-color: #0b7029;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

#portfolio-row li:hover {
    filter:brightness(50%)
}